

body {
    background-image: url(../images/skull.jpg);
}

#presskey {
    font-family: 'Reenie Beanie', cursive;
    color: white;
    font-weight: bold;
    padding: 40px;
}

#gamebox {
    border: solid 3px;
    border-color: grey;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin-left: 30px;
    color: white;

}