

body {
    background-image: url(../images/skull.jpg);
}

#presskey {
    font-family: 'Reenie Beanie', cursive;
    color: white;
    font-weight: bold;
    padding: 40px;
}

#gamebox {
    border: solid 20px;
    border-color: grey;
    width: 500px;
    border-radius: 10px;

}